@page "/thirdpart"
@using Flurl
@using Flurl.Http
<div style="margin:50px;">
    <h3>模拟跳转的第三方应用页面</h3>
    <div>
        如果RedirectUri参数为空，则会跳转到这个页面
    </div>
    <div>
        返回的code为：@Code
    </div>

    <Button OnClick="GetAccessToken">用Code换取AccessToken等数据</Button>
    <Input ReadOnly @bind-Value="@UserTicket">
    </Input>
     <Button OnClick="GetUserInfo">用AccessToken查询用户信息</Button>
     <Input ReadOnly @bind-Value="@UserData">  </Input>


 </div>


 @code {

    [Inject]
    IMessageService messageService { get; set; }

    [SupplyParameterFromQuery]
    public string? Code { get; set; }

    public string UserTicket { get; set; }

    public string UserData { get; set; }

    async Task GetAccessToken()
    {
        var data = await "http://localhost:5173/connect/oauth2/access_token"
        .SetQueryParam("code", Code)
        .SetQueryParam("clientId", "test")
        .SetQueryParam("clientSecret", "test")
        .GetStringAsync();
        UserTicket = data;

    }

    async Task GetUserInfo()
    {
        if (string.IsNullOrWhiteSpace(UserTicket))
        {
            await messageService.Info("请先获取accessToken");
            return;
        }
        var data = await "http://localhost:5173/connect/oauth2/user_info"
        .SetQueryParam("accessToken", "access_token")
        .SetQueryParam("userId", 1)
        .GetStringAsync();
        UserData = data;
    }

}
